<app-menu></app-menu>

<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  
  <ion-button  class="top-20" size="default" expand="full" color="warning" [routerLink]="['/pag5']"> <ion-icon name="qr-code-outline"></ion-icon> Escanear QR</ion-button>
  
  <ion-button  class="top-20" size="default" expand="full" color="warning" [routerLink]="['/asistencia']"> <ion-icon name="today-outline"></ion-icon> Asistencias</ion-button>

  <ion-button  class="top-20" size="default" expand="full" color="warning" [routerLink]="['/justificacion']"> <ion-icon name="reader-outline"></ion-icon> Justificaciones</ion-button>

  <ion-button  class="top-20" size="default" expand="full" color="warning" [routerLink]="['/ticket']"> <ion-icon name="reader-outline"></ion-icon> Abrir Ticket</ion-button>




</ion-content>
