<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title color="tertiary">
      Mi Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre: </ion-label>
            <ion-input placeholder="ej:Pedro bernardo Fuentes Sanchez"></ion-input>
            
          </ion-item>
          <ion-item>
            <ion-label position="floating">Rut: </ion-label>
            <ion-input placeholder="ej:22.122.333-4"></ion-input>
            
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo duoc: </ion-label>
            <ion-input placeholder="ej:ped.fuentes@duocuc.cl"></ion-input>
            
          </ion-item>
          <ion-item>
            <ion-label position="floating">Numero Celular: </ion-label>
            <ion-input placeholder="ej:+56972847622"></ion-input>
            
          </ion-item>
        
        </ion-list>
    </ion-card-content>
  </ion-card>



  
</ion-content>
