<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title color="tertiary">
      Ticket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
<div class="list">
  <label class="item item-input">
    <ion-label position="floating">Nombre Completo:</ion-label>
    <br>
<input type="text" placeholder="Ej:Benjamin cayo pe">
  </label>
  <label class="item item-input">
    <ion-label position="floating">Rut:</ion-label>
    <br>
    <input type="text" placeholder="Ej:20.143.745-K">
      </label>
      <label class="item item-input">
        <ion-label position="floating">Correo:</ion-label>
        <br>
        <input type="text" placeholder="Ej:seb.palma@duocuc.cl">
          </label>
          
          <label class="item item-input">
            <ion-label position="floating">Motivo:</ion-label>
            <br>
            <input type="text" placeholder="Ej:Inasistencia">
              </label>
</div>
<br>
<ion-button>Enviar</ion-button>


</ion-content>
