<ion-header>
  <ion-toolbar>
    <ion-title>ticket</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  
</ion-toolbar>

<ion-content>

  <div class="list">
<label class="item item-input">
<input type="text" placeholder="Nombre completo">
</label>
<label class="item item-input">
  <input type="email" placeholder="correo">
</label> 
<label class="item item-input">
<input type="text" placeholder="Rut">
</label>
<label class="item item-input">
  <input type="text" placeholder="Motivo">
  </label>

</div>

<ion-button (click)="presentAlert()">Enviar</ion-button>


</ion-content>

