<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title color="tertiary">
      Recuperar
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="background">

  <div id="container">
    <ion-card>
      <ion-item>
        <p>Introduzca su correo para enviar un mail de recuperacion</p>
      </ion-item>
    </ion-card>  

    <ion-card>
      <ion-item>

        <ion-label position="floating">Correo Institucional</ion-label>
        <ion-input placeholder="pep.tapia@duocuc.cl"></ion-input>

      </ion-item>
    </ion-card>  
    <ion-button color="primary" [routerLink]="['/pag4']">Enviar</ion-button>
  </div>
</ion-content>
