<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title color="tertiary">
      Recuperar
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="background">
  <ion-item>
    <p>Introdusca su correo para enviar un mail de recuperacion</p>
    <ion-label position="floating">Correo Institucional</ion-label>
    <ion-input placeholder="pep.tapia@duocuc.cl"></ion-input>
  </ion-item>
  <ion-button color="primary" [routerLink]="['/pag4']">Enviar</ion-button>
</ion-content>
