

<ion-content class="background">


  <ion-card>
    <ion-card-content>
      <img src="'../../../../assets/icon/Logo Asisterin.PNG">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="user"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="clave"></ion-input>
      </ion-item>
      <ion-button color="tertiary" [routerLink]="['/pag1']" *ngIf="user !='Desconocido'">Iniciar Sesión
      </ion-button>
      <ion-button color="primary" [routerLink]="['/pag2']">
        <label style="font-size: 10px;">¿Olvidaste tu Contraseña?</label></ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>